body {
  font-family: $myFont;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  background-color: white;
  min-width: 320px;
}

.center {
  max-width: $desktop;
  margin-right: auto;
  margin-left: auto;
}